<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Counter </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheet/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Counter EJS Assignment</h1>
        <p>Welcome! You have visited this page <%=visits%> times.</p>
        <p><a href="/two"><button>Add 2 Button</button></a></p>
        <p><a href="/reset"><button>Reset to 0</button></a></p>
    </body>
</html>